---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import AsciiHelper from '../components/AsciiHelper.astro'
---

<DefaultLayout title="ASCII-Helfer">
  <section class="my-12 content-center">
    <div class="container">
      <h1>ASCII-Helfer</h1>
      <AsciiHelper />
    </div>
  </section>
</DefaultLayout>
