---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Binaerkonverter from '../components/Binaerkonverter.astro'
---

<DefaultLayout title="Binärkonverter">
  <section class="my-12 content-center">
    <div class="container">
      <h1>Binärkonverter</h1>
      <Binaerkonverter />
    </div>
  </section>
</DefaultLayout>
