---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import ColorPicker from '../components/ColorPicker.astro'
---

<DefaultLayout title="Farbauswahl">
  <section class="my-12 content-center">
    <div class="container">
      <h1>Farbauswahl</h1>
      <ColorPicker includeHashtag="true" />
    </div>
  </section>
</DefaultLayout>
