---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Guthabenausleser from '../components/Guthabenausleser.astro'
---

<DefaultLayout title="Guthabenausleser" showFooter={false}>
  <section>
    <div class="content-center text-center">
      <Guthabenausleser />
    </div>
    
  </section>
</DefaultLayout>