---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Counter from '../components/Counter.astro'
---

<DefaultLayout title="HTWK Utils" showFooter={false}>
  <section>
    <div class="content-center text-center">
      <iframe class="my-12" style="
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        border: none;
        margin: 0;
        padding: 0;
        padding-top: 69px;
        overflow: hidden;
        height: 100%;
      " src="https://mensa.heylinus.de" title="MensaMate">
      </iframe>
    </div>
  </section>
</DefaultLayout>
