---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Primzahlzerlegung from '../components/Primzahlzerlegung.astro'
---

<DefaultLayout title="Primzahlenzerlegung">
  <section class="my-12 content-center">
    <div class="container">
      <h1>Primzahlenzerlegung</h1>
      <Primzahlzerlegung />
    </div>
  </section>
</DefaultLayout>
