---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Seminarauswahl from '../components/Seminarauswahl.astro'
import { Notification } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<DefaultLayout title="Seminargruppenplan">
  <h1 class="mt-8 text-center">Seminargruppenplan</h1>
  <section class="mt-6">
    <div class="space-content container">
      <Seminarauswahl></Seminarauswahl>

      <Notification type="info">
        <Icon name="ion:information-circle-outline" />
        <p>
          <strong>Disclaimer:</strong> Diese Seite ist <b>inoffiziell</b>.<br>Überprüfe im Zweifelsfall, ob Gruppe und Woche korrekt sind.
        </p>
      </Notification> 
    </div>
  </section>
 
</DefaultLayout>
