---
interface Props {}
const { } = Astro.props
---
<binaer-konvertierung>
  <section class="my-6">
    <div class="">
      <p class="text-lg">Dezimal zu Binär:</p>
      <div class="flex">
        <input id="number-input" placeholder="123456789" type="text" class="selector cursor-text rounded-md pl-3 pr-2 py-1.5 border-2 dark:border-green-300 dark:bg-neutral-800 dark:text-white focus-visible:outline-none">
        <select
          id="type-selector"
          class="selector cursor-pointer rounded-md mt-3 lg:mt-0 lg:ml-2 pl-3 pr-2 py-1.5 border-2 dark:border-green-300 dark:bg-neutral-800 dark:text-white focus-visible:outline-none"
          aria-label="Wähle die Konvertierug">
          <option value="dec_to_bin">Dezimal ⟶ Binär</option>
          <option value="bin_to_dec">Binär ⟶ Dezimal</option>
        </select>
      </div>
      <p id="result-label">Lösung</p>
    </div>
  </section>
</binaer-konvertierung>

<script>
  // Define the behaviour for our new type of HTML element.
  class Binaerkonvertierung extends HTMLElement {
    connectedCallback() {
      // Get the 2 elements from above
      const numberInput = document.getElementById("number-input");
      const typeSelector = document.getElementById("type-selector");
      const resultLabel = document.getElementById("result-label");
      
      numberInput?.addEventListener("input", () => convert(numberInput.value));
      typeSelector?.addEventListener("change", () => convert(numberInput.value));

      function convert(value) {
        if (typeSelector) {
          switch (typeSelector.value) {
            case "dec_to_bin":
              decimalToBinary(value);
              break;
            case "bin_to_dec":
              binaryToDecimal(value);
              break;
          }
        }
      }

      function decimalToBinary(value) {
        const parsedValue = parseInt(value);
        var currentValue = parsedValue;
        var binaryString = "";
        
        while (currentValue > 0) {
          binaryString = currentValue % 2 + binaryString;
          currentValue = Math.floor(currentValue / 2);
        }

        if (resultLabel) resultLabel.innerText = binaryString;
      }
      function binaryToDecimal(value) {
        var splitValues = value.split("");
        var currentValue = 0;

        for (var i = 0; i < splitValues.length; i++) {
          const parsedDigit = parseInt(splitValues[i]);
          if (parsedDigit > 1) {
            currentValue = null; break;
          }
          currentValue += parsedDigit * Math.pow(2, splitValues.length - i - 1);
        }

        if (resultLabel) {
          if (currentValue) resultLabel.innerText = currentValue;
          else resultLabel.innerText = " Da ist der Wurm drin: Binärzahlen bestehen nur aus 0 und 1.";
        } 
      }
    }
  }
  
  // Tell the browser to use our custom class for elements.
  customElements.define('binaer-konvertierung', Binaerkonvertierung);
</script>