---
import { Icon } from 'astro-icon/components'

interface Props {}
const { } = Astro.props
---
<binaer-konvertierung>
  <section class="my-6">
    <div class="text-center lg:text-left">
      <div class="flex flex-col lg:flex-row">
        <input id="number-input" placeholder="123456789" type="text" class="selector cursor-text placeholder:italic rounded-md pl-3 pr-2 py-1.5 border-2 border-[var(--accent-color)] dark:bg-neutral-800 dark:text-white focus-visible:outline-none">
        <select
          id="from-selector"
          class="selector cursor-pointer rounded-md mt-3 lg:mt-0 lg:ml-2 pl-3 pr-2 py-1.5 border-2 border-[var(--action-color)] dark:bg-neutral-800 dark:text-white focus-visible:outline-none"
          aria-label="Wähle die Konvertierug">
          <option value="dec">Dezimal</option>
          <option value="bin">Binär</option>
          <option value="bin_sign">Binär (Vorzeichen)</option>
          <option value="hex">Hexadezimal</option>
        </select>
        <Icon class="pl-2 hidden lg:block" name="line-md:arrow-right" width="48" height="48" />
        <Icon class="pt-2 pl-2 lg:hidden place-self-center" name="line-md:arrow-down" width="32" height="32" />
        <select
          id="to-selector"
          class="selector cursor-pointer rounded-md mt-3 lg:mt-0 lg:ml-2 pl-3 pr-2 py-1.5 border-2 border-[var(--action-color)] dark:bg-neutral-800 dark:text-white focus-visible:outline-none"
          aria-label="Wähle die Konvertierug">
          <option value="dec">Dezimal</option>
          <option value="bin">Binär</option>
          <option value="bin_sign">Binär (Vorzeichen)</option>
          <option value="hex">Hexadezimal</option>
        </select>
      </div>
      <div class="mt-4">
        <p>Ergebnis:</p>
        <code id="result-label">Bitte gib etwas ein :)</code>
      </div>
    </div>
  </section>
</binaer-konvertierung>

<script>
import { boolean, number } from "astro:schema";

  // Define the behaviour for our new type of HTML element.
  class Binaerkonvertierung extends HTMLElement {
    connectedCallback() {
      // Get the 2 elements from above
      const numberInput = document.getElementById("number-input");
      const fromSelector = document.getElementById("from-selector");
      const toSelector = document.getElementById("to-selector");
      const resultLabel = document.getElementById("result-label");
      
      numberInput?.addEventListener("input", () => convert(numberInput.value));
      fromSelector?.addEventListener("change", () => convert(numberInput.value));
      toSelector?.addEventListener("change", () => convert(numberInput.value));

      function convert(value) {
        if (toSelector instanceof HTMLSelectElement && fromSelector instanceof HTMLSelectElement) {
          switch (fromSelector.value) {
            case "dec":
              switch (toSelector.value) {
                case "dec":
                  if (resultLabel) resultLabel.innerText = value;
                  break;
                case "bin":
                  if (resultLabel) resultLabel.innerText = decimalToBinary(value, false);
                  break;
                case "bin_sign":
                  if (resultLabel) resultLabel.innerText = decimalToBinary(value, true);
                  break;
                case "hex":
                  if (resultLabel) resultLabel.innerText = decimalToHex(value);
                  break;
              }
              break;
            case "bin":
              switch (toSelector.value) {
                case "dec":
                  if (resultLabel) resultLabel.innerText = binaryToDecimal(value);
                  break;
                case "bin":
                  if (resultLabel) resultLabel.innerText = value;
                  break;
                case "bin_sign":
                  if (resultLabel) resultLabel.innerText = "Nicht implementiert";
                  break;
                case "hex":
                  if (resultLabel) resultLabel.innerText = decimalToHex(binaryToDecimal(value));
                  break;
              }
              break;
            case "bin_sign":
              switch (toSelector.value) {
                case "dec":
                  if (resultLabel) resultLabel.innerText = value.startsWith("1") ? "-"+binaryToDecimal(flipSign(value)) : binaryToDecimal(value);
                  break;
                case "bin":
                  if (resultLabel) resultLabel.innerText = "Nicht implementiert";
                  break;
                case "bin_sign":
                  if (resultLabel) resultLabel.innerText = value;
                  break;
                case "hex":
                  if (resultLabel) resultLabel.innerText = "Nicht implementiert";
                  break;
              }
              break;
            case "hex":
              switch (toSelector.value) {
                case "dec":
                  if (resultLabel) resultLabel.innerText = hexToDecimal(value);
                  break;
                case "bin":
                  if (resultLabel) resultLabel.innerText = decimalToBinary(hexToDecimal(value));
                  break;
                case "bin_sign":
                  if (resultLabel) resultLabel.innerText = "Nicht implementiert";
                  break;
                case "hex":
                  if (resultLabel) resultLabel.innerText = value;
                  break;
              }
              break;
          }
        }
      }
      function flipSign(value) {
        var shouldFlip = false;
        var flippedString = "";
        for (var i = value.length-1; i >= 0; i--) {
          if (shouldFlip) {
            flippedString = value[i].replace("1", "2").replace("0", "1").replace("2", "0") + flippedString;
          }
          else {
            flippedString = value[i] + flippedString;
            if (value[i] === "1") shouldFlip = true;
          }
        }
        return flippedString;
      }

      function decimalToBinary(value, signed: boolean) {
        const parsedValue = parseInt(value);
        const isNegative = parsedValue < 0; 
        var currentValue = isNegative ? -parsedValue : parsedValue;
        var binaryString = "";
        
        while (currentValue > 0) {
          binaryString = currentValue % 2 + binaryString;
          currentValue = Math.floor(currentValue / 2);
        }
        if (signed) {
          if (parsedValue < 0) {
            return flipSign("0"+binaryString);
          }
          else return "0"+binaryString;
        }

        return binaryString;
      }
      function binaryToDecimal(value) {
        var splitValues = value.split("");
        var currentValue: number | null = 0;

        for (var i = 0; i < splitValues.length; i++) {
          const parsedDigit = parseInt(splitValues[i]);
          if (parsedDigit > 1) {
            currentValue = null; break;
          }
          currentValue += parsedDigit * Math.pow(2, splitValues.length - i - 1);
        }

        if (resultLabel) {
          if (currentValue) return currentValue.toString();
          else return " Da ist der Wurm drin: Binärzahlen bestehen nur aus 0 und 1.";
        } else return "Fehler";
      }
      function decimalToHex(value) {
        const parsedValue = parseInt(value);
        var currentValue = parsedValue;
        var hexString = "";
        
        while (currentValue > 0) {
          hexString = (currentValue % 16).toString()
          .replace("10", "A")
          .replace("11", "B")
          .replace("12", "C")
          .replace("13", "D")
          .replace("14", "E")
          .replace("15", "F") + hexString;
          currentValue = Math.floor(currentValue / 16);
        }

        return hexString;
      }
      function hexToDecimal(value) {
        var splitValues = value.split("");
        var currentValue: number | null = 0;

        for (var i = 0; i < splitValues.length; i++) {
          const parsedDigit = parseInt(splitValues[i]
            .replace("F", "15")
            .replace("E", "14")
            .replace("D", "13")
            .replace("C", "12")
            .replace("B", "11")
            .replace("A", "10"));
          if (parsedDigit > 16) {
            currentValue = null; break;
          }
          currentValue += parsedDigit * Math.pow(16, splitValues.length - i - 1);
        }

        if (resultLabel) {
          if (currentValue) return currentValue;
          else return " Da ist der Wurm drin: Hexadezimalzahlen bestehen nur aus Ziffern sowie Buchstaben von A bis F.";
        } else return "Fehler";
      }
    }
  }
  
  // Tell the browser to use our custom class for elements.
  customElements.define('binaer-konvertierung', Binaerkonvertierung);
</script>