---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
const {
  sticky = true,
} = Astro.props
---

<header id="header" class={(sticky ? 'sticky backdrop-blur-md ' : '') + "top-0 z-50"}>
  <SkipLinks />
  <Navigation>
    <li class="menu-item type-icon">
      <a href="/"><Icon name="line-md:home"/>Home</a>
    </li>
    <li class="menu-item type-icon">
      <a href="/seminargruppenplan/"><Icon name="line-md:list-3-filled"/>Seminarplan</a>
    </li>
    <li class="menu-item type-icon">
      <a href="/mensa/"><Icon name="line-md:coffee-half-empty-twotone-loop"/>Mensa</a>
    </li>
    <li class="menu-item type-icon">
      <a href="/karte/"><Icon name="line-md:map-marker-alt-twotone-loop"/>Karte</a>
    </li>
    <li class="menu-item has-dropdown type-icon">
      <button aria-haspopup="true" aria-expanded="false"><Icon name="line-md:cog-loop"/>Werkzeuge</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/colorpicker"><Icon name="mdi:color"/>Farbauswahl</a>
        </li>
        <li class="submenu-item">
          <a href="/primzahlen"><Icon name="mdi:calculator-variant-outline"/>Primzahlzerlegung</a>
        </li>
        <li class="submenu-item">
          <a href="/binary"><Icon name="mdi:numbers"/>Binärkonverter</a>
        </li>
        <li class="submenu-item">
          <a href="/ascii"><Icon name="mdi:letters"/>ASCII-Helfer</a>
        </li>
        <li class="submenu-item">
          <a href="/linux"><Icon name="linux"/>Linux-Befehle</a>
        </li>
        <li class="submenu-item">
          <a href="/programme"><Icon name="line-md:cloud-alt-download-loop"/>Empfohlene Programme</a>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown type-icon">
      <button aria-haspopup="true" aria-expanded="false"><Icon name="line-md:text-box-multiple"/>Wiki</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <p>Das Programmier-1-mal-1</p>
          <li class="ml-2">
            <a href="/wiki/programming/getting-started"><Icon name="mdi:code"/>Einstieg</a>
          </li>
          <li class="ml-2">
            <a href="/wiki/programming/methods"><Icon name="mdi:code-json"/>Methoden</a>
            <li class="ml-6">
              <a href="/wiki/programming/challenge-methods"><Icon name="mdi:trophy"/>Herausforderung</a>
            </li>
          </li>
          <li class="ml-2">
            <a href="/wiki/programming/loops"><Icon name="mdi:repeat-variant"/>Schleifen</a>
          </li>
          <li class="ml-2">
            <a href="/wiki/programming/classes"><Icon name="mdi:file-tree-outline"/>Klassen</a>
            <li class="ml-6">
              <a href="/wiki/programming/challenge-classes"><Icon name="mdi:trophy"/>Herausforderung</a>
            </li>
          </li>
        </li>
        <li class="submenu-item">
          <p>Das Website-1-mal-1</p>
          <li class="ml-2">
            <a href="/wiki/websites/getting-started"><Icon name="mdi:web-box"/>Einstieg</a>
          </li>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown type-icon">
      <button aria-haspopup="true" aria-expanded="false"><Icon name="line-md:link"/>Weitere Links</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a rel="noopener noreferrer external" target="_blank" href="https://imweb.imn.htwk-leipzig.de/~schwarz/lehre/ws24/modellierung/"><Icon name="mdi:graph"/>Modellierung Frau Schwarz</a>
        </li>
        <li class="submenu-item">
          <a rel="noopener noreferrer external" target="_blank" href="https://web.stanford.edu/class/cs103/tools/truth-table-tool/"><Icon name="mdi:table-check"/>Stanford Wahrheitswerttabellen</a>
        </li>
        <li class="submenu-item">
          <a rel="noopener noreferrer external" target="_blank" href="https://www.wolframalpha.com/"><Icon name="mdi:function-variant"/>Wolfram Alpha</a>
        </li>
        <li class="submenu-item">
          <a id="lerngruppenraeume" rel="noopener noreferrer external" target="_blank" href=""><Icon name="mdi:google-classroom"/>Aktuell freie Gruppenräume</a> 
        </li>
      </ul>
    </li>
  </Navigation>
</header>

<script>
  import { getISOWeek } from 'date-fns';

  function setLerngruppenraumURL() {
    const lerngruppenraeume = document.getElementById('lerngruppenraeume');
    let currentWeek = getISOWeek(new Date());
    if (new Date().getMonth() <= 3) currentWeek += 52; // Planungswochen werden auch nach dem Jahreswechsel fortlaufend nummeriert

    if (lerngruppenraeume && lerngruppenraeume instanceof HTMLAnchorElement) {
      lerngruppenraeume.href = `https://stundenplan.htwk-leipzig.de/ws/Berichte/Text-Listen;Module;id;%23SPLUSCC3F4C?template=sws_modul_js&weeks=_${currentWeek}`;
    }
  }
  setLerngruppenraumURL();
  document.addEventListener('astro:after-swap', () => {
    setLerngruppenraumURL();
  })
</script>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .menu-item {
      a, a:visited, button, button::after {
        color: var(--accent-color);
      }
    }

    .type-icon a {
      display: flex;

      [data-icon] {
        height: auto;
        margin-right: 4px;
        width: 20px;
      }
    }
  }
</style>