---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
const {
  sticky = true,
} = Astro.props
---

<header id="header" class={(sticky ? 'sticky backdrop-blur-md ' : '') + "top-0 z-50"}>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/seminargruppenplan/">Seminarplan</a>
    </li>
    <li class="menu-item">
      <a href="/mensa/">Mensa</a>
    </li>
    <li class="menu-item">
      <a href="/karte/">Karte</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Werkzeuge</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/colorpicker">Farbauswahl</a>
        </li>
        <li class="submenu-item">
          <a href="/primzahlen">Primzahlzerlegung</a>
        </li>
        <li class="submenu-item">
          <a href="/binary">Binärkonverter</a>
        </li>
        <li class="submenu-item">
          <a href="/ascii">ASCII-Helfer</a>
        </li>
        <li class="submenu-item">
          <a href="/linux">Linux-Befehle</a>
        </li>
        <li class="submenu-item">
          <a href="/programme">Empfohlene Programme</a>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Wiki</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <p>Das Programmier-1-mal-1</p>
          <li>
            <a href="/wiki/programming/getting-started">Einstieg</a>
          </li>
          <li>
            <a href="/wiki/programming/methods">Methoden</a>
          </li>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Weitere Links</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a rel="noopener noreferrer external" target="_blank" href="https://imweb.imn.htwk-leipzig.de/~schwarz/lehre/ws24/modellierung/">Modellierung Frau Schwarz</a>
        </li>
        <li class="submenu-item">
          <a rel="noopener noreferrer external" target="_blank" href="https://web.stanford.edu/class/cs103/tools/truth-table-tool/">Stanford Wahrheitswerttabellen</a>
        </li>
        <li class="submenu-item">
          <a rel="noopener noreferrer external" target="_blank" href="https://www.wolframalpha.com/">Wolfram Alpha</a>
        </li>
        <li class="submenu-item">
          <a id="lerngruppenraeume" rel="noopener noreferrer external" target="_blank" href="">Aktuell freie Gruppenräume</a> 
        </li>
      </ul>
    </li>
    <!--   <li class="menu-item type-icon">
      <a href="https://github.com/Motschen" title="View my GitHub profile">
        <Icon name="simple-icons:github" />
      </a>
    </li>
    -->
  </Navigation>
</header>

<script>
  import { getISOWeek } from 'date-fns';

  const lerngruppenraeume = document.getElementById('lerngruppenraeume');
  let currentWeek = getISOWeek(new Date());
  if (new Date().getMonth() <= 3) currentWeek += 52; // Planungswochen werden auch nach dem Jahreswechsel fortlaufend nummeriert

  if (lerngruppenraeume && lerngruppenraeume instanceof HTMLAnchorElement) {
    lerngruppenraeume.href = `https://stundenplan.htwk-leipzig.de/ws/Berichte/Text-Listen;Module;id;%23SPLUSCC3F4C?template=sws_modul_js&weeks=_${currentWeek}`;
  }
</script>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .menu-item {
      a, a:visited, button, button::after {
        color: var(--accent-color);
      }
    }

    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -2px;
        width: 28px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
      &:is(.darkmode *) {
        background-color: rgba(18, 18, 18, 0.75);
      }
    }
  }
</style>